numpy
Pillow
huggingface_hub
einops
safetensors
gradio
viser
tqdm
hydra-core
omegaconf
opencv-python
scipy
onnxruntime
requests
trimesh
matplotlib
pydantic>=2.0.0,<2.11.0
pycolmap==3.10.0
pyceres
scikit-image
scikit-learn
open3d
matplotlib
evo
git+https://github.com/jytime/LightGlue.git#egg=lightglue
